*{
    padding: 0px;
margin: 0px;
box-sizing: border-box}

.cabecalho {

    display: flex;
    width: 100%;
    height: 71px;
    justify-content: space-between;
    align-items: center;
    background-color: #3750b3;
    color: #ffffff;

}

.paginas{
    margin: 18px;
}

.list {
    display: flex;
    list-style:none ;
    align-items: center;


}
.list-item {
padding: 18px;
}



.vingadores {
   background-image: url("../site att layoult/assets/imgs/vingadores.jpg");
   width: 1,680px;
   height: 427px;
   margin-top: 174px;
   margin-left: 120px;
   
}